[Unit]
Description=Wave Browser Frontend Web Server
After=network.target waveform-viewer-api.service
Wants=network-online.target

[Service]
Type=simple
User=wavebrowser
WorkingDirectory=/projects/sujayak/wave_browser/frontend/dist
ExecStart=/usr/bin/python3 -m http.server 5317
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
